victest.sh
.vscode
.coverage
.coveragerc
.idea
*.pyc
.pytest_cache
*.egg-info
*.pot
*.py[co]
.tox/
htmlcov/
__pycache__
MANIFEST.in
tox_make_migrations.ini
tox_makemessages_es.ini
tox_compilemessages.ini
tox_shell.ini
.pypirc
dist/

